@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
$bgrey: #161616;
a {
  text-decoration: none;
  color: white;
}
nav {
  padding: 0 400px;
  background-color: $bgrey;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 20px 60px;
      font-size: 18px;
      color: white;
    }
  }
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.app__AboutMe {
  display: flex;
  padding: 150px 200px;
}
.block__About {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;

  .block__textAbout {
    width: 600px;
    color: $bgrey;
    h1 {
      font-size: 42px;
    }
    p {
      padding-top: 40px;
      font-size: 20px;
    }
  }

  .img__imgAbout {
    width: 400px;
    height: 500px;
    padding-left: 80px;
  }
}

.block__Skills {
  height: 340px;
  background-color: $bgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 300px;
  .block__textSkills {
    width: 600px;
    font-size: 20px;
  }
}
.block__Works {
  width: 100%;
  height: 1400px;
  .panel__cover {
    padding: 100px 400px 0px 400px;
    display: flex;
    justify-content: space-around;
    .tag {
      cursor: pointer;
    }
  }
  .block__cover {
    padding: 50px 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .box {
      border-radius: 4px;
      min-height: 320px;
      min-width: 450px;
      padding: 0 10px;
      margin: 15px;
    }
    .project1 {
      border: 3px solid rgb(122, 122, 122);
    }
    .project2 {
      border: 3px solid rgb(32, 54, 127);
    }
    .box.project3 {
      min-width: 960px;
      border: 3px solid rgb(129, 43, 43);
    }
  }
}
.block__Contacts {
  background-color: $bgrey;
  width: 100%;
  height: 600px;
}
