.item {
    padding: 40px;
    border: 2px solid black;
    font-size: 30px;
    height: fit-content;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
}

.item1 {
    order: 3;
}

.item2 {
    order: 2;
}

.item3 {
    order: 1;
}