* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right, #85fda3, #bbf8e9);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
}
.layer:nth-child(1) {
  background-image: url(Assets/leaf1.png);
}

.layer:nth-child(2) {
  background-image: url(Assets/leaf2.png);
}
